@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300&display=swap");

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Codystar", sans-serif;
  color: rgb(102, 255, 0);
  background-color: rgb(0, 0, 0);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 3rem;
  height: 80vh;
}

.title-main span {
  font-size: 1.25rem;
}

.title-main h1 {
  animation: finalAnimation 0.9s infinite;
}

.title-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  height: 20vh;
}

header {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 80px;
  padding: 10px;
  text-align: center;
}

.question {
  display: none;
  font-size: 1.5rem;
  padding: 10px;
  height: calc(1.5rem + 20px);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.answer-section {
  font-size: 2rem;
  font-weight: 900;
  width: 70%;
  display: none;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 100px - 33px - 100px - 80px);
}

.answers {
  display: none;
  width: calc(100%-70px);
}

.points {
  display: none;
  width: 70px;
}

.roundAnswer {
  margin: 10px;
}

.answerAnimation {
  width: 0%;
  animation: animateText 5s ease-in;
}

@keyframes animateText {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

.mainBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.cross-section {
  font-size: 2.5rem;
  font-weight: 900;
  width: 90%;
  height: 100px;
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.crossBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted rgb(102, 255, 2);
  width: 90px;
  height: 50px;
  padding: 2px;
}

footer {
  color: rgb(102, 255, 2);
  background-color: black;
  font-size: 2rem;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  height: 80px;
}

#currentRound {
  font-size: 2.5rem;
}

.score {
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
}

#teamRight p,
#teamLeft p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.turn {
  font-size: 3rem;
}

.final-score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  height: 80vh;
  animation: finalAnimation 0.5s infinite;
}

@keyframes finalAnimation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
