@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  text-align: justify;
}

main h1 {
  text-align: left;
}

header {
  width: 100vw;
  height: auto;
  background-color: #bcbcbc;
  position: fixed;
  top: 0;
}

.flexcontainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#logo img {
  height: 15vh;
  margin: 0;
}

nav {
  font-family: "Mulish", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 5vh;
  left: 3vw;
  text-align: center;
  font-weight: bold;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #bbbbbb;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding-top: 125px;
  box-shadow: 1px 1px 3px grey;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu img {
  width: 15%;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

#hiddenMenu {
  display: none;
}

main {
  font-family: "Mulish", sans-serif;
  font-size: 1.25rem;
  font-style: lighter;
  margin: 20vh 5vw 5vh 5vw;
  width: 90vw;
  padding: 0;
}

section article {
  color: black;
  text-decoration: none;
}

#map {
  border: none;
  width: 80vw;
  height: 40vh;
  margin: 2vh 5vw;
}

details {
  cursor: pointer;
}

summary:hover {
  color: #bbbbbb;
}

summary {
  margin: 5px;
}

.meiri {
  border-radius: 25px;
  background-color: white;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
}

.meiri a {
  text-decoration: none;
  color: black;
}

footer {
  height: auto;
  font-family: "Mulish", sans-serif;
  background-color: #bcbcbc;
  color: black;
  margin-bottom: 0;
  text-align: left;
}

footer h3 {
  padding: 3rem 0 0 5vw;
  margin: 0;
}

.address,
.contact {
  padding: 1rem 0 1rem 5vw;
}

.address p,
.contact p {
  margin: 10px 0px;
}

.contact a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.footcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

@media only screen and (min-width: 1100px) {
  .flexcontainer {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
  }

  #menuToggle {
    display: none;
  }

  nav {
    margin: 0 3vw;
  }

  #hiddenMenu {
    display: contents;
    padding: 0 4vw;
  }

  #hiddenMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #hiddenMenu li {
    float: left;
    margin: 0 2vw;
  }

  #hiddenMenu a li {
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    margin: 5vh 3vh 0 1vh;
    padding: 0;
  }

  #hiddenMenu a li:hover {
    color: #e9e9e9;
  }

  #hiddenMenu img {
    height: 3vh;
  }

  #logo img {
    transform: none;
    margin: 1vh 1vw 0 4vw;
    height: 80px;
  }

  main {
    margin: 20vh 20vw 5vh 20vw;
    width: 60vw;
    padding: 0;
  }

  #map {
    border: none;
    width: 40vw;
    height: 40vh;
    margin: 2vh 10vw;
  }

  footer h3 {
    padding: 3rem 0 0 20vw;
    margin: 0;
  }

  .address {
    padding: 1rem 0 1rem 20vw;
  }

  .contact {
    padding: 1rem 0 1rem 5vw;
  }
}
