@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-style: bold;
  color: #465886;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  overflow: hidden;
}

header {
  margin-top: 20vh;
  width: 100vw;
  overflow: hidden;
}

#logoBackground {
  width: 100vw;
  height: 30vh;
  background-image: url("/Pictures/hestadraumur_banner_mobile2.jpg");
  background-size: cover;
  box-shadow: 0 2px 5px #888888;
}

#logo {
  display: block;
  margin: 5vh auto;
  padding: 5vh 0;
  width: 300px;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-style: bold;
}

.btn {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  color: #465886;
  border: 2px solid #465886;
  border-radius: 15px;
  background: none;
  margin: 0 2vw 2vh 2vw;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 80vw;
  height: 6vh;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 0;
  padding-top: 5vh;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

#meðferð,
#meðferðHjáMér,
#fjarmeðferð,
#sjálfsvinna,
#fræðsla,
#umMig {
  width: 80vw;
  margin: 0vh 10vw;
}

#tilBaka {
  position: absolute;
  top: 5vh;
  left: 3vw;
}

#tilBaka a {
  text-decoration: none;
  color: #455063;
  font-size: 1.5rem;
  font-weight: bold;
}

#leftCross {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  border-radius: 3px;
  transform: rotate(-45deg) translate(0, -1px);
  background: #455063;
}

#rightCross {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  border-radius: 3px;
  transform: rotate(45deg) translate(2px, 2px);
  background: #455063;
}

.fld {
  text-decoration: none;
  color: #455063;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (min-width: 1090px) {
  header {
    background-image: url("/Pictures/cropped-hestadraumur_banner_opacity_1300_2.jpg");
    box-shadow: 0 2px 5px #888888;
    height: 45vh;
    margin-top: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #logoBackground {
    width: none;
    height: none;
    background-image: none;
    background-size: none;
    box-shadow: none;
  }

  #logo {
    display: block;
    margin: 0 auto;
    padding: 2vh 0;
    width: 350px;
  }

  .menu {
    flex-flow: row;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3vh 1vw;
    padding-top: 0;
  }

  .btn {
    font-size: 1.25rem;
    transition: 0.2s ease-in;
    width: 200px;
    color: white;
    border: 2px solid white;
  }

  .active {
    background-color: white;
    color: #455063;
  }

  #isl:hover,
  #eng:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2vh 3vw;
    padding-top: unset;
    height: unset;
    width: unset;
    position: unset;
    z-index: unset;
    top: unset;
    left: unset;
    background-color: unset;
    overflow-x: unset;
    transition: unset;
    text-align: unset;
  }

  #meðferð,
  #meðferðHjáMér,
  #fjarmeðferð,
  #sjálfsvinna,
  #fræðsla,
  #umMig {
    width: auto;
    margin: 2vh 0;
  }

  #tilBaka {
    display: none;
  }

  .fld {
    font-size: 1.25rem;
    font-weight: lighter;
    width: 1vw;
    margin: 0 2vw;
    border: none;
    display: inline;
  }

  .fld:hover {
    color: slategray;
  }
}

@media only screen and (max-width: 1089.9px) and (min-width: 501px) {
  header {
    background-image: url("/Pictures/cropped-hestadraumur_banner_opacity_1300_2.jpg");
    box-shadow: 0 2px 5px #888888;
    height: 40vh;
    margin-top: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #logoBackground {
    width: none;
    height: none;
    background-image: none;
    background-size: none;
    box-shadow: none;
  }

  #logo {
    display: block;
    margin: 0 auto;
    padding: 2vh 0;
    width: 300px;
  }

  .menu {
    flex-flow: row;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1vh 1vw;
    padding-top: 0;
  }

  .btn {
    transition: 0.2s ease-in;
    width: 200px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
  }

  #isl:hover,
  #eng:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .container {
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    margin: 2vh 3vw;
    padding-top: unset;
    height: unset;
    width: unset;
    position: unset;
    z-index: unset;
    top: unset;
    left: unset;
    background-color: unset;
    overflow-x: unset;
    transition: unset;
    text-align: unset;
  }

  #meðferð,
  #meðferðHjáMér,
  #fjarmeðferð,
  #sjálfsvinna,
  #fræðsla,
  #umMig {
    width: auto;
    margin: 2vh 0;
    text-align: center;
  }

  #tilBaka {
    display: none;
  }

  .fld {
    font-size: 1.5rem;
    font-weight: lighter;
    width: 1vw;
    margin: 0vh 2vw;
    border: none;
    display: inline;
    padding-top: unset;
    height: unset;
    position: unset;
    z-index: unset;
    top: unset;
    left: unset;
    background-color: unset;
    overflow-x: unset;
    transition: unset;
    text-align: unset;
  }
}
