@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-style: bold;
  height: 100vh;
  margin: 0;
  background-color: #e9e9e9;
}

#logo img {
  display: block;
  margin: 2vh auto;
  width: 350px;
}

.menu {
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: bold;
}

.btn {
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #e9e9e9;
  border: none;
  margin: 0 2vw;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  width: 175px;
  height: 50px;
}

.active {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
}

#meðferð,
#meðferðHjáMér,
#fjarmeðferð,
#sjálfsvinna,
#fræðsla,
#umMig {
  width: 100%;
  margin: 1vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#meðferð {
  background: url("/Hildur/Pictures/Lightbulb_scaled_opacity.jpg");
}

#meðferðHjáMér {
  background: url("/Hildur/Pictures/Therapy_scaled_opacity.jpg");
}

#fjarmeðferð {
  background: url("/Hildur/Pictures/Videocall_scaled_opacity.jpg");
}

#sjálfsvinna {
  background: url("/Hildur/Pictures/meditation_scaled_opacity.jpg");
}

#fræðsla {
  background: url("/Hildur/Pictures/reading_scaled_opacity.jpg");
}

#umMig {
  background: url("/Hildur/Pictures/hildur_scaled_opacity.jpg");
}

.fld {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 225px;
  margin: 0 auto;
}

@media only screen and (min-width: 1045px) {
  .btn {
    transition: 0.2s ease-in;
  }

  #isl:hover,
  #eng:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  #meðferð,
  #meðferðHjáMér,
  #fjarmeðferð,
  #sjálfsvinna,
  #fræðsla,
  #umMig {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fld {
    transition: transform 0.2s ease-in;
    width: 400px;
    height: 300px;
    font-size: 1.5rem;
  }

  .fld:hover {
    transform: scale(1.1);
  }
}
